<html>
    <head>
        <%- include('header'); -%>
        <body>
            <h1><%= title %></h1>
            <p>
                <%= message %>
            </p>
            <img src="<%= imgsrc %>" >
        </body>
    </head>
</html>